:root{
    color: var()
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    margin: 0;
}

#inicio{
    background: linear-gradient(rgba(39, 38, 38, 0.7),rgba(0, 0, 0, 0.7)), url(../domie-sharpin-7cAxewthTh8-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

#inicio .contenido header .contenido-header{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

#inicio .contenido header .contenido-header #nav #links{
    text-align: center;
}

#inicio .contenido header .contenido-header #icono-nav {
    display: none;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #ff5080;
    margin: 0;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    font-family: inherit;
}

#inicio .contenido header .contenido-header h1 span{
    text-align: center;
    color: #fff;
    margin: 0;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#inicio .contenido header .contenido-header nav ul{
    align-items: center;
    list-style: none;
    display: flex;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #ffff;
    margin: 0px 12px;
    font-weight: 400px;
    transition: .5s;
}


#inicio .contenido .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    transition: .5s;
    display: inline-block;
}

#inicio .contenido .contenido-header .redes a:hover{
    color: #ff5080;
    transition: .2s;
}

#inicio .contenido header .contenido-header nav ul li a:active{
    color: #ff5080;
    transition: 0.1s;
    padding: auto;
    font-size: 14px;    
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#inicio .contenido .presentacion .presentacion-p{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}
#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center; 
    color: #fff;
}
#inicio .contenido .presentacion h2 span{
    color: #ff5080;
    font-family: serif;
    
}
#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 0px 25px 25px 25px;
    font-size: 18px;
    text-align: center;
    color: #ffff;
    animation: reveal 7s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #ffff;
    border-radius: 50px;
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover{
    background-color: #ff5080;
    animation:pulsate-fwd .5s ease-in-out infinite both;
}

#inicio .contenido-header #icono-nav i{
    display: flex;
}
/* Sobre Mi*/

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;    
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2{
    font-size: 32px;
    margin: 20px 0;
    font-weight: bold;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{
    color: #ff5080;
}

#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p{
    font-size: 16px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi .curri{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi .curri:hover{
    background-color: #ff5080;
    color: #fff;
}

/* Seccion Servicios*/

#servicio{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicio .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicio .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#servicio .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 8px;
    transition: .3s;
}

#servicio .fila .servicio:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


#servicio .fila .servicio:hover:after{
    background-color: #000;
    transition: 2s;
}

#servicio .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#servicio .fila .servicio .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicio .fila .servicio hr{
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicio .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#servicio .fila .servicio p{
    font-size: 19px;
    line-height: 22px;
}

/* Seccion Habilidades*/
.contenedor-skills{
    background: linear-gradient(rgba(39, 38, 38, 0.7),rgba(0, 0, 0, 0.7)), url(../img/fondo-skills2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

}

.contenedor-skills .skills{
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skills .info{
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skills .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skills .barra{
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px;
}

.contenedor-skills .skills .barra .barra-progreso1{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skills .barra .barra-progreso2{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skills .barra .barra-progreso3{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contenedor-skills .skills .barra .barra-progreso4{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso4 2s forwards;
}

/*Animation*/  

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes progreso1{
    0% {
        width: 0;
    }
    100%{
        width: 95%;
    }
}

@keyframes progreso2{
    0% {
        width: 0;
    }
    100%{
        width: 75%;
    }
}

@keyframes progreso3{
    0% {
        width: 0;
    }
    100%{
        width: 90%;
    }
}

@keyframes progreso4{
    0% {
        width: 0;
    }
    100%{
        width: 75%;
    }
}

/*Seccion Portafolio*/
#portafolio{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portafolio .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portafolio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

#portafolio .fila .proyecto{
    max-width: 350px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
 /*Filtro Portafolio*/
#portafolio .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
    max-width: 350px;
}

#portafolio .fila .proyecto:hover img{
    filter: grayscale(0);
}

/*Termina Filtro Portafolio*/

#portafolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio .fila .proyecto .info a{
    margin-left: 190px;
    transition: .5s;
    text-decoration: none;
}

#portafolio .fila .proyecto .info span{
    color: #ff5080;
    transition: .5s;
}

#portafolio .fila .proyecto .info span:hover{
    color: #fff;
    transition: .5s;
}


#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

/* Seccion contacto*/
#footer {
        padding: 100px 0;
}

.footer-basic {
    padding:40px 0;
    background-color:rgba(0, 0, 0, 0.8);
    color:#fff;
    border-top: 2px solid ;
    margin: auto;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    transition: .5s;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    transition: .5s;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    transition: .5s;
  }
  
  .footer-basic .social > a:hover {
    opacity:1;
    transition: .3s;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#fff;
    margin-bottom:0;
  }

/*Seccion Responsive*/
@media screen and (max-width: 800px){

    .contenedor-skills{
        background: linear-gradient(#eeb5b5cc, rgba(33,16, 16, .2)), url(../img/fondo-skills2.jpg);
        background-attachment: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    
    }

    .redes{
        display: none;
    }
    nav{
        display: none;
    }

    #inicio .contenido-header #icono-nav i{
        display: flex;
    }

    #inicio .contenido header .contenido-header #icono-nav {
        display: flex;
    }

    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
        color: #fff;
    }
    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-form img{
        padding: 8px;
    }
    #sobremi .sobremi{
        text-align: center;
    }
    #servicio{
        padding: 50px 15px;
    }
    #servicio .fila{
        display: block;
    }
    #servicio .fila .servicio{
        margin: 15px auto;
    }
    .contenedor-skills{
        padding: 50px 10px;
    }

    .contenedor-skills .skills .barra {
        background-color: #919191;
        width: auto;
        height: 6px;
        margin: 10px;
    }
    #portafolio{
        padding: 50px 10px;
    }
    #portafolio .fila{
        display: block;
    }
    #portafolio .fila .proyecto{
        margin: 15px auto;
    }
    #contacto{
        padding: 50px 10px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .fila-mitad input{
        width: 49.4%;
    }
    .lang{
        display: none;
    }
}

/*Animation text*/
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  /*Animation BG*/
  @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }

  /*Animation Box*/
  /* ----------------------------------------------
 * Generated by Animista on 2022-8-28 18:39:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-bl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  
/*Opacity Text Header*/
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /*Keyframe buttom cv*/